---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  hex_format: "\"#{{R}}{{G}}{{B}}{{Z}}\""
  filename: "./themes/catppuccin-rounded-{{flavor.identifier}}-{{accent}}/theme.conf"
---
[General]

### General ###
Font="Noto Sans"
FontSize=12
# Spacing between power buttons, input fields & login button, and sessions
Spacing=10
# Padding around the edge of the screen
Padding=20
# Measured in ms
TransitionDuration=150

### Background ###
CustomBackground="false"
Background="backgrounds/julia.png"

### Login Panel ###
LoginPanelColor={{mantle.hex}}
LoginPanelPadding=20
LoginPanelBorderRadius=20
LoginPanelBorderWidth=4
LoginPanelBorderColor={{surface0.hex}}

UserIcon="true"
UserIconSize=192
UserIconBorderColor={{surface1.hex}}
# Set this to a file path to an image to set a custom default user icon
DefaultUserIcon=""

# TODO: options for the buttons and input fields

# TODO: options for the login panel animation

# TODO: shadow options

# Uncomment this option to show the last letter of the password
# for the number of milliseconds specified
# PasswordShowLastLetter=1000

### Power Buttons & Session Selector Button ###
# TODO: split into Power and Session
IconSize=48
PowerButtonColor={{red.hex}}
PowerButtonIconColor={{base.hex}}
# TODO: border colors + width
# TODO: all of the above for the session button

# TODO: split into Power and Session
# If true, ignores PowerAndSessionButtonBorderRadius
CircularPowerAndSessionButtons=true
# TODO: comment saying set to half of XXIconSize to make it a circle
PowerAndSessionButtonBorderRadius=20
# TODO: options for the icons
# TODO: orientation option

# TODO options for power button & session selector locations

# TODO shadow options

### Session Selector ###
# TODO: option to show the Selector
# TODO: more settings for color + border + size

### Clock ###
ClockEnabled="true"
ClockFont="Noto Sans"
ClockColor={{text.hex}}
ClockDateSize=24
ClockTimeSize=72
ClockDateFormat="dddd, d MMMM"
ClockTimeFormat="h:mm AP"

ClockTopMargin=50
ClockBottomMargin=0
ClockLeftMargin=0
ClockRightMargin=0
# "top", "center", or "bottom"
ClockVerticalAnchor="top"
# "left", "center", or "right"
ClockHorizontalAnchor="center"
# Gap between date and time
# TODO: why negative?
ClockGap=-20
# Whether to ignore ClockHorizontalAnchor and center text regardless
# TODO: implement
ClockAlwaysCenterText="false"
# Whether the date and time text should have their places swapped
ClockSwapDateAndTime="false"

ClockShadow="true"
# TODO: more shadow options

### Shadows ###
# TODO: remove this section + move to others
ShadowColor="#aa000000"
ShadowSamples=17
LargeShadowRadius=8
LargeShadowOffset=2
SmallShadowRadius=4
SmallShadowOffset=2
