---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  hex_format: "\"#{{R}}{{G}}{{B}}{{Z}}\""
  filename: "./themes/catppuccin-rounded-{{flavor.identifier}}-{{accent}}/theme.conf"
---
[General]

### General ###
TextColor={{text.hex}}
Font="Noto Sans"
FontSize=12
# Spacing between power buttons, input fields & login button, and sessions
Spacing=10
# Padding around the edge of the screen
Padding=20
# Measured in ms
TransitionDuration=150

### Background ###
CustomBackground=false
Background="backgrounds/julia.png"
BackgroundColor={{base.hex}}

### Login Panel ###
LoginPanelColor={{mantle.hex}}
LoginPanelPadding=20
// 38 = LoginPanelPadding + LoginPanelFieldHeight / 2
LoginPanelBorderRadius=38
LoginPanelBorderWidth=4
LoginPanelBorderColor={{surface0.hex}}
LoginPanelFieldHeight=36
LoginPanelFieldWidth=300

UserIcon=true
UserIconSize=192
UserIconBorderColor={{surface1.hex}}
# Set this to a file path to an image to set a custom default user icon
DefaultUserIcon=""

TextFieldColor={{surface0.hex}}
TextFieldHoverColor={{surface1.hex}}
TextFieldFocusedColor={{surface1.hex}}

LoginButtonColor={{flavor.colors[accent].hex}}
LoginButtonHoverColor={{rosewater.hex}}
LoginButtonPressedColor={{rosewater.hex}}

LoginButtonTextColor={{base.hex}}
LoginButtonHoverTextColor={{base.hex}}
LoginButtonPressedTextColor={{base.hex}}

ShouldBlinkCursor=true
# Measured in ms
CursorBlinkDuration=1000
TextSelectionColor={{overlay0.hex}}
PlaceholderTextColor={{overlay1.hex}}

LoginPanelShadow=true
LoginPanelShadowColor="#88000000"
LoginPanelShadowSamples=16
LoginPanelShadowRadius=8
LoginPanelShadowXOffset=2
LoginPanelShadowYOffset=2

EnableLoginFailedAnimation=true
LoginFailedMessage="Incorrect Password"
LoginFailedTextColor={{red.hex}}
# Measured in ms, time between each keyframe of the shake animation (there are 10 keyframes)
LoginFailedAnimSpeed=100
# Multiplier for the animation amplitude
LoginFailedAnimAmplitude=3
# Measured in ms
IncorrectPasswordDelay=1000

# Uncomment this option to show the last letter of the password
# for the number of milliseconds specified
# PasswordShowLastLetter=1000

### Power Buttons ###
PowerButtonIconSize=48
PowerButtonColor={{red.hex}}
PowerButtonHoverColor={{maroon.hex}}
PowerButtonIconColor={{base.hex}}
PowerButtonHoverIconColor={{base.hex}}

# If true, ignores PowerButtonBorderRadius
CircularPowerButtons=true
PowerButtonBorderRadius=10

UseCustomPowerOffIcon=false
UseCustomRebootIcon=false
UseCustomSleepIcon=false

PowerOffIcon=""
RebootIcon=""
SleepIcon=""

### Session Selector ###
SessionSelectorIconSize=48
SessionSelectorColor={{surface0.hex}}
SessionSelectorHoverColor={{surface1.hex}}
SessionSelectorPressedColor={{surface1.hex}}
SessionSelectorIconColor={{text.hex}}
SessionSelectorHoverIconColor={{text.hex}}
SessionSelectorPressedIconColor={{text.hex}}

# If true, ignores SessionSelectorBorderRadius
CircularSessionSelector=true
SessionSelectorBorderRadius=10

UseCustomSessionSelectorIcon=false
SessionSelectorIcon=""

SessionSelectorPopupColor={{surface0.hex}}
// 28 = Spacing + SessionSelectorItemHeight / 2
SessionSelectorPopupRadius=28

SessionSelectorItemColor={{surface1.hex}}
SessionSelectorItemColorHover={{surface2.hex}}
SessionSelectorItemColorSelected={{flavor.colors[accent].hex}}

SessionSelectorItemTextColor={{text.hex}}
SessionSelectorItemTextColorHover={{text.hex}}
SessionSelectorItemTextColorSelected={{base.hex}}

SessionSelectorItemHeight=36
SessionSelectorItemWidth=300

### Clock ###
ClockEnabled=true
ClockFont="Noto Sans"
ClockColor={{text.hex}}
ClockDateSize=24
ClockTimeSize=72
ClockDateFormat="dddd, d MMMM"
ClockTimeFormat="h:mm AP"

ClockTopMargin=50
ClockBottomMargin=0
ClockLeftMargin=0
ClockRightMargin=0
# "top", "center", or "bottom"
ClockVerticalAnchor="top"
# "left", "center", or "right"
ClockHorizontalAnchor="center"
# Gap between date and time
# TODO: why negative?
ClockGap=-20
# Whether to ignore ClockHorizontalAnchor and center text regardless
# TODO: implement
ClockAlwaysCenterText=false
# Whether the date and time text should have their places swapped
ClockSwapDateAndTime=false

ClockShadow=true
# TODO: more shadow options

### Shadows ###
# TODO: remove this section + move to others
ShadowColor="#aa000000"
ShadowSamples=17
LargeShadowRadius=8
LargeShadowOffset=2
SmallShadowRadius=4
SmallShadowOffset=2
