---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  hex_format: "\"#{{R}}{{G}}{{B}}{{Z}}\""
  filename: "./themes/catppuccin-rounded-{{flavor.identifier}}-{{accent}}/Components/Clock.qml"
---
import QtQuick 2.15
import Qt5Compat.GraphicalEffects

// TODO: make look like Pop2
Item {
  id: time
  property date dateTime: new Date()
  property color color: {{text.hex}}

  anchors {
    margins: config.Spacing
    topMargin: config.ClockMargin
    top: parent.top
    horizontalCenter: parent.horizontalCenter
  }

  Timer {
    interval: 100; running: true; repeat: true;
    onTriggered: time.dateTime = new Date()
  }

  Text {
    id: dateText
    anchors.horizontalCenter: parent.horizontalCenter
    color: time.color
    text : Qt.formatDate(time.dateTime, "dddd, MMMM d")
    font.family: config.ClockFont
    font.pointSize: config.ClockDateSize
  }

  Text {
    id: timeText
    anchors.horizontalCenter: parent.horizontalCenter
    anchors.top: dateText.top
    anchors.topMargin: config.Padding
    color: time.color
    text : Qt.formatTime(time.dateTime, "h:mm AP")
    font.family: config.ClockFont
    font.pointSize: config.ClockTimeSize
  }

  DropShadow {
    visible: config.ClockShadow == "true"
    anchors.fill: dateText
    source: dateText

    horizontalOffset: config.LargeShadowOffset
    verticalOffset: config.LargeShadowOffset
    radius: config.LargeShadowRadius
    samples: config.ShadowSamples
    color: config.ShadowColor
  }

  DropShadow {
    visible: config.ClockShadow == "true"
    anchors.fill: timeText
    source: timeText

    horizontalOffset: config.LargeShadowOffset
    verticalOffset: config.LargeShadowOffset
    radius: config.LargeShadowRadius
    samples: config.ShadowSamples
    color: config.ShadowColor
  }
}
