---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  hex_format: "\"#{{R}}{{G}}{{B}}{{Z}}\""
  filename: "./themes/catppuccin-rounded-{{flavor.identifier}}-{{accent}}/Components/PowerButton.qml"
---
import QtQuick 2.15
import QtQuick.Controls 2.15

Item {
  implicitHeight: powerButton.height
  implicitWidth: powerButton.width
  Button {
    id: powerButton
    height: config.IconSize
    width: config.IconSize
    hoverEnabled: true
    icon {
      source: Qt.resolvedUrl("../assets/power.svg")
      height: height
      width: width
      color: {{crust.hex}}
    }
    background: Rectangle {
      id: powerButtonBackground
      radius: 3
      color: {{red.hex}}
    }
    states: [
      State {
        name: "hovered"
        when: powerButton.hovered
        PropertyChanges {
          target: powerButtonBackground
          color: {{rosewater.hex}}
        }
      }
    ]
    transitions: Transition {
      PropertyAnimation {
        properties: "color"
        duration: config.TransitionDuration
      }
    }
    onClicked: sddm.powerOff()
  }
}
